* {
    padding: 0%;
    margin: 0;
    font-family: 'Secular One';
}



.header {
    display: flex;
    margin: 30px 200px;
}

h2 {
    color: rgb(104, 104, 104);
    font-size: 40px;
    width: 50%;
    margin-left: 15px;
}

.contact-lines {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
}

.contact-lines .box1 {
    background-color: red;
    width: 200px;
}

.contact-lines .box2 {
    background-color: blue;
    width: 200px;
}

.nav {
    background-color: rgb(168, 1, 1);
    height: 40px;
    width: 100%;

}

.nav ul {
    display: flex;
    list-style-type: none;
    width: 70%;
    height: 100%;
    margin: auto;
}

.nav ul li {
    padding: 12px;
    border-left: 0.5px solid white;
    margin-left: 10px;
}

.nav ul .last{
    border-right: 0.5px solid white;
}

.nav ul li a {
    text-decoration: none;

}

.nav a {
    color: azure;
}

h2 span {
    color: rgb(168, 1, 1);
}

.container {
    display: flex;
    margin: 30px 200px;
}

.card {
    background-color: black;
    height: 330px;
    width: 320px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
}

.text {
    margin: 40px;
    color: white;
}