* {
    padding: 0%;
    margin: 0;
    font-family: "Secular One";
}

.header {
    display: flex;
    margin: 30px 200px;
}

h2 {
    color: rgb(104, 104, 104);
    font-size: 40px;
    width: 50%;
    margin-left: 20px;
}

.contact-lines {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
}

.contact-lines .box1 {
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

.box1 .line1 {
    color: rgb(168, 1, 1);
    border-bottom: 0.5px solid grey;
    padding-bottom: 5px;
}

.box1 .line1 span {
    color: rgb(104, 104, 104);
    margin-left: 20px;
}

.box1 .line2 {
    color: rgb(168, 1, 1);
    margin-top: 5px;
}

.box1 .line2 span {
    color: rgb(104, 104, 104);
    margin-left: 10px;
}

.contact-lines .box2 {
    width: 200px;
    padding: 8px;
    text-align: center;
}

.box2 .line3 {
    color: rgb(168, 1, 1);
}

.box2 .line3 span {
    color: rgb(104, 104, 104);
    font-size: 25px;
}

.search {
    background-color: white;
    border: 0.5px solid rgb(233, 233, 233);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
}

.nav {
    background-color: rgb(168, 1, 1);
    height: 40px;
    width: 100%;
}

.nav ul {
    display: flex;
    list-style-type: none;
    width: 68%;
    height: 100%;
    margin: auto;
}

.nav ul li {
    border-left: 0.5px solid white;
    padding: 11px;
}

.nav ul .last {
    border-right: 0.5px solid white;
}

.nav ul li a {
    text-decoration: none;
    font-size: 12px;
    
}

.nav a {
    color: azure;
    margin: 9px;
}

h2 span {
    color: rgb(168, 1, 1);
}

.container {
    display: flex;
    margin: 30px 200px;
}

.card {
    background-color: black;
    height: 330px;
    width: 320px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
}

.text {
    margin: 40px;
    color: white;
}